 .section1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  display: inline-block;
  background-color: rgb(228, 228, 158);
}
.section2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  display: inline-block;
  background-color: rgb(95, 159, 95);
}
h2{
  padding: 3px;
  border: 1px solid;
}
ul{
  list-style-type: none;
  padding: 3px;
  border: 1px solid;
  border-color:peru;
}
.box{
  float: left;
  width: 100%;
  padding: 50px;
}
img{
  height: 100px;
  width: 100px;
}
#head-title-1{ 
  display: inline-block;
  background-color: rgb(234, 221, 221);
}
#head-title-2{
  display: inline-block;
  background-color: peru;
}
#main-course{
  display: inline-block;
  background-color: blanchedalmond;
}
#main-course-2{
  display: inline-block;
  background-color: blanchedalmond;
}
#side-course{
  display: inline-block;
  background-color: peru;
}
#side-course-2{
  display: inline-block;
  background-color: peru;
}